.InformationContainer {
    font-family: 'LiberationMonoRegular';
    font-size: 120%;
    margin: 3rem;
    color: #234572;
}

.InformationName {
    font-size: 140%;
}

.InformationText {
    padding-top: 0.5rem;
}

.InformationTextFilter {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.Skills {
    padding-bottom: 1.5rem;
}

.FrontEnd {
    color: cornflowerblue;
}

.FrontEnd:hover {
    font-weight: bold;
}

.FullStack {
    color: #AF4C79;
}

.Algorithms {
    color: olivedrab;
}

.UXResearch {
    color: coral;
}

.Experience {
    padding-bottom: 0.5rem;
}

.ExperienceYear {
    margin-right: 1rem;
}