.ProjectContainer {
    color: white;
    font-family: 'LiberationMonoRegular';
    font-size: 120%;
    margin: 3rem;
}

.ProjectList {
    list-style-type: none;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.ProjectElement {
    margin-bottom: 1rem;
}

.ProjectElement:hover {
    color: #80C0C0;
}

.ProjectYear {
    font-size: 70%;
    margin-right: 1rem;
    /* color: #44B5D2; */
    color: #80C0C0;
}

.ProjectTech {
    font-size: 70%;
    margin-left: 1rem;
    color: coral
}

.ProjectTagline {
    font-size: 70%;
    margin-left: 3.1rem;
}

.Back {
    color: coral;
    padding-bottom: 1.5rem;
}

.Button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.Button:hover {
    font-weight: bold;
}

.DetailName {
    font-size: 120%;
    padding-bottom: 1.5rem;
}

.DetailDescription {
    padding-bottom: 1.5rem;
}

.DetailTech {
    float: left;
    margin-right: 0.5rem;
}
